<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atguigu.bigdata.gmall.publisher.mapper.DauMapper">
    <select id="getDauTotal" resultType="java.lang.Integer">
        select count(*) ct from gmall0218_dau where LOGDATE=#{date}
    </select>


    <select id="getDauHour" resultMap="dauHourList">
        select loghour lh, count(*) ct from gmall0218_dau where  LOGDATE=#{date}
        group by loghour
    </select>

    <resultMap id="dauHourList" type="java.util.Map" autoMapping="true">
<!--  对json打印格式的key值有特殊改动，可以这么用。若没有特殊要求，可以直接autoMapping
        <result property="HOUR" column="LOGHOUR"></result>
        <result property="CT" column="CT"></result>-->
    </resultMap>
</mapper>